APScheduler==3.3.1
click==6.7
croniter==0.3.17
dj-database-url==0.4.1
Django==1.11.3
django-extensions==1.8.1
django-rq==0.9.6
django-session-security==2.5.1
django-widget-tweaks==1.4.1
gunicorn==19.6.0
psycopg2==2.6.2
python-dateutil==2.6.1
pytz==2017.2
redis==2.10.5
rq==0.8.1
rq-scheduler==0.7.0
schedule==0.4.3
six==1.10.0
tzlocal==1.4
virtualenv==15.1.0
whitenoise==3.2
