{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Add Events{% endblock %}

{% block content %}
<div id="dances" data-js-vars="{{dances}}">
    
</div>
<div class="row" id="spa">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Add Events to {{ competition.name }}</h2>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table class="table table-striped">
                        {% for form in formset %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    {% if forloop.last %}
                                    <th>
                                        Dances in Event
                                    </th>
                                    {% endif %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle 'row1' 'row2' %} formset_row">
                            {% for field in form.visible_fields %}
                             {% if forloop.last %}
                                    <td>
                                        <select id="dances{{forloop.parentloop.counter}}" class="form-control select2-dance" name="dances[]" multiple="multiple">
                                            <!-- <option v-for="dance in dances" v-bind:value="dance.id">((dance.name))</option> -->
                                        </select>
                                    </td>
                                    {% endif %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}

                                    {% render_field field class+="form-control" %}
                                    {% if field.errors|length > 0 %}
                                    <div class="form-group">
                                        <ul>
                                            {% for error in field.errors %}
                                            <li style="color: red">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            
                        </tr>
                    {% endfor %}
                    </table>
                    <button class="btn btn-primary" type="submit">Add Events</button>
                    <div>
                      
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    var loopCounter = 0;
        $('.formset_row').formset({
            addText: 'Add Event',
            deleteText: 'Remove',
            prefix: 'events',
            addCssClass: 'btn btn-sm btn-primary',
            deleteCssClass: 'btn btn-sm btn-block btn-danger',
            added: function(row) {
                loopCounter++;
                // this initializes the bootstrap datetimepicker on a new row
                var formElements = new Array();
                $(row).each(function(){
                    formElements.push($(this).find(':input'));
                });
                $(formElements[0][4]).datetimepicker({
                "format": "HH:mm",
                "icons": {
                    "date": "glyphicon glyphicon-time",
                    "up": "fa fa-arrow-up",
                    "down": "fa fa-arrow-down"
                }});
                $(formElements[0][4]).next().click(function(event) {
                    $(formElements[0][4]).data("DateTimePicker").show();
                })
                var dropdown = formElements[0][6];
                var data =  $("#dances").attr("data-js-vars")
                data = processJS(data)
                $.each(data, function() {
                    $(dropdown).append($("<option />").val(this.id).text(this.name));
                });
                $(dropdown).attr("name", "events-" + loopCounter + "-dances[]")
                $(dropdown).attr("style", "width:100%");
                $('.select2-dance').select2();
            },
            removed: function() {
                loopCounter--;
            }
        });
        $('.datepicker').on(
            'dp.show',
            function(e) {
                $(".bootstrap-datetimepicker-widget").css(
                "background-color", "#ffffff");
        });
        $(function() {
            var $dropdown = $("#dances1");
            $dropdown.attr("name", "events-0-dances[]")
            $dropdown.attr("style", "width:100%");
            var data =  $("#dances").attr("data-js-vars")
            data = processJS(data)
            $.each(data, function() {
                $dropdown.append($("<option />").val(this.id).text(this.name));
            });
            $dropdown.select2();
        })
</script>
{% endblock %}

            