{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Edit Competition{% endblock %}
{% block content %}
<div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="alert alert-dismissible alert-info">
                <strong>Warning!</strong> It is strongly recommended not to use this page to modify a currently running or completed competition. <strong>Modifying information here can erase entries and results</strong>. If you are trying to modify a competition in progress, use the manage option on the previous screen.
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div id="staffZone" data-js-vars="{{ users }}" staff-js-vars="{{ staff }}" class="panel panel-primary">
            <div class="panel-heading">
                <h2>Add Staff</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="control-label col-sm-3">Search for a Person</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" v-model="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Matching Queries</h3>
                        <div class='wrapper' style="height: 200px">
                            <table id="results" class="table table-hover table-striped">
                                <thead>
                                    <tr style="background-color:white;">
                                        <th>Person</th>
                                        <th>Role</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="person in people">
                                        <td>((person.name))</td>
                                        <td>
                                            <select v-bind:id="((person.judging_pin))" class="form-control staff_option">
                                                <option value="0">Logistic / Deck Captain</option>
                                                <option value="1">Judge</option>
                                            </select>
                                        </td>
                                        <td><button class="btn btn-primary btn-sm" v-on:click="addPerson(person.judging_pin, $event)">Add</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3>Selected Staff</h3>
                        <div class='wrapper' style="height: 200px">
                            <table id="chosen" class="table table-hover table-striped">
                                <thead>
                                    <tr style="background-color:white;">
                                        <th>Person</th>
                                        <th>Role</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="entry in selected">
                                        <td>((entry.person.name))</td>
                                        <td>
                                           <span v-if="entry.role == 0">Logistic / Deck Captain</span>
                                           <span v-else>Judge</span>
                                        </td>
                                        <td><button class="btn btn-danger btn-sm" v-on:click="removePerson(entry.person.judging_pin)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="post" id="staff_form" style="margin-left: 15px;">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="staff">
                                <input type="hidden" id="staff_values" name="staff" value="">
                                <button type="button" onclick="handleSubmission(event)" class="btn btn-primary">Submit Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-sm-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Edit {{competition.name}}</h2>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <input type="hidden" name="form_type" value="competition">
                    <input type="hidden" name="staff" value="">
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class+="form-control" %}<br>
                        {% if field.help_text %}
                        <small class="form-text text-muted" >
                        {{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                    {% if field.errors|length > 0 %}
                    <div class="form-group">
                        <ul>
                            {% for error in field.errors %}
                            <li style="color: red">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Modify {{ competition.name }}'s Events</h2>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="events">
                    {{ formset.management_form }}
                    <table class="table table-striped">
                        {% for form in formset %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle 'row1' 'row2' %} formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {% render_field field class+="form-control" %}
                                    {% if field.errors|length > 0 %}
                                    <div class="form-group">
                                        <ul>
                                            {% for error in field.errors %}
                                            <li style="color: red">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                    <button class="btn btn-primary" type="submit">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
        var app;
        var store;
        var handleSubmission;
        $('.formset_row').formset({
            addText: 'Add Event',
            deleteText: 'Remove',
            prefix: 'events',
            addCssClass: 'btn btn-sm btn-primary',
            deleteCssClass: 'btn btn-sm btn-block btn-danger',
            added: function(row) {
                // this initializes the bootstrap datetimepicker on a new row
                var formElements = new Array();
                $(row).each(function(){
                    formElements.push($(this).find(':input'));
                });
                $(formElements[0][4]).datetimepicker({
                "format": "HH:mm",
                "icons": {
                    "date": "glyphicon glyphicon-time",
                    "up": "fa fa-arrow-up",
                    "down": "fa fa-arrow-down"
                }});
                $(formElements[0][4]).next().click(function(event) {
                    $(formElements[0][4]).data("DateTimePicker").show();
                })
            }
        });
        $('.datepicker').on(
            'dp.show',
            function(e) {
                $(".bootstrap-datetimepicker-widget").css(
                "background-color", "#ffffff");
        });
        $(function() {
        $(function() {
            handleSubmission = function(e) {
                e.preventDefault();
                $("#staff_values").val(JSON.stringify(app.selected))
                $("#staff_form").submit();
            }
            $("#results").floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            });
            $("#chosen").floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            });
            Vue.use(Vuex)
            store = new Vuex.Store({
                state: {
                    users: [],
                    staff: [],
                    saved_users: [],
                },
                mutations: {
                    users (state, data) {
                        state.users = data;
                    },
                    staff (state, data) {
                        state.staff = data;
                    },
                    saved (state, data) {
                        state.saved_users = data;
                    }
                },
                actions: {
                    reorder (context) {
                        var sorted = context.state.users;
                        sorted.sort(function(a,b) {
                            if (a.name < b.name) return 1;
                            else if (a.name > b.name) return -1;
                            return 0;
                        })
                        context.commit("users", sorted);
                    }
                },
            });
            app = new Vue({
                el: "#staffZone",
                store: store,
                delimiters: ["((","))"],
                data: {
                    text: "",
                    selected: [],
                },
                mounted: function() {
                    var data =  $("#staffZone").attr("data-js-vars")
                    var staff = $("#staffZone").attr("staff-js-vars")
                    data = data.substring(1, data.length - 1);
                    var split = data.split("\'").join("\"").split("\"\"").join("\"");
                    split = '[' + split + ']';
                    split = JSON.parse(split)
                    store.commit("users", split);
                    store.commit("saved", split);
                    store.dispatch("reorder");
                    staff = staff.substring(1, staff.length - 1);
                    var split = staff.split("\'").join("\"").split("\"\"").join("\"");
                    split = '[' + split + ']';
                    split = JSON.parse(split) 
                    this.selected = split;
                },
                computed: {
                    users: function() {
                        return store.state.users;
                    },
                    staff: function() {
                        return store.state.staff;
                    },
                    people: function() {
                        if (this.text != "") {
                            var search = this.text
                            var data = store.state.users;
                            var filtered = data.filter(function(user) {
                                return user.name.indexOf(search) > -1
                            })
                            return filtered;
                        }
                        else {
                            return []
                        }
                    }
                },
                methods: {
                    addPerson: function(id, $event) {
                        var location;
                        var filtered = store.state.users.filter(function(user, index) {
                            if (user.judging_pin == id) {
                                location = index;
                            }
                            return user.judging_pin == id;
                        })
                        var array = store.state.users;
                        array.splice(location, 1)
                        store.commit("users", array)
                        var user = filtered[0];
                        var value = $("#" + user.judging_pin).val()
                        app.selected.push({person:user, role:value});   
                    },
                    removePerson: function(id) {
                        var location= app.selected.findIndex(function(entry) {
                            return entry.person.judging_pin == id;
                        })
                        var removed = app.selected.splice(location, 1);
                        removed = removed[0];
                        var array = store.state.users;
                        array.push(removed.person);
                        store.commit("users", array);
                        store.dispatch("reorder");

                    }
                }
            })
        })
    })
</script>
{% endblock %}