{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Manage Competition{% endblock %}
{% block content %}
{% if request.user.dancer.owned_studio == competition.host %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="alert alert-dismissible alert-info">
            <strong>Heads up!</strong> Rearranging or activating heats will automatically update all logistical staff's competition management pages. No submission is required. As the competition owner, you are the only one who can do so. You are also the only one who can update the staff.
        </div>
    </div>
</div>
{% endif %}
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Competition Basic Information</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <strong>Name:</strong> {{competition.name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <strong>Date of Start:</strong> {{competition.date_of_start}}
                                </div>
                            </div>
                            {% if request.user.dancer.owned_studio == competition.host %}
                            <hr>
                                {% if competition.begun %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a href="" class="btn btn-primary">Re-generate Rounds TODO</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>This will generate or regenerate the rounds for an event, preserving results for existing dancers, dropping dancers that have been DQ'd or withdrawn and including newly enlisted dancers. This action is done automatically, but can be done manually here.</small>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="form_type" value="competition_start">
                                                    <button type="submit" class="btn btn-primary">Begin Competition</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>This will generate all the heats for all your events and allow you to begin to create a heat list and select an active heat.</small>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="heatZone" class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>Heats</h4>
                                </div>
                                <div class="col-lg-6">
                                    {% if request.user.dancer.owned_studio == competition.host %}
                                    <button type="button" v-on:click="publish" class="btn btn-default">
                                        Publish Order
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" style="max-height:760px; overflow-y: scroll" v-sortable>
                            <ul id="sortableHeats" style="list-style-type: none; padding: 0px;">
                                <li v-bind:id="heat.id" v-for="heat in heats">
                                    <div v-if="calculate(!heat.active, !heat.completed)" class="panel panel-default" style="margin:5px;">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    (( heat.name ))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-xs-6">
                                                    <form method="post">
                                                        <input type="hidden" name="form_type" value="activate">
                                                        <input type="hidden" name="round_id" v-bind:value="heat.id">
                                                        <div class="form-group">
                                                            {% if request.user.dancer.owned_studio == competition.host %}
                                                            <button type="button" class="btn btn-sm btn-block btn-primary">Activate TODO</button>
                                                            {% endif %}
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6 col-xs-6">
                                                    <button type="button" v-on:click="select(heat.id)" class="btn btn-sm btn-block btn-info">Details</button>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div v-if="calculate(heat.active, !heat.completed)" class="panel panel-primary" style="margin:5px;">
                                        <div class="panel-heading">
                                             <div class="row">
                                                <div class="col-lg-12">
                                                    (( heat.name ))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form method="post">
                                                        <input type="hidden" name="form_type" value="reopen">
                                                        <input type="hidden" name="round_id" v-bind:value="heat.id">
                                                        <div class="form-group">
                                                            {% if request.user.dancer.owned_studio == competition.host %}
                                                            <button class="btn btn-sm btn-block btn-default">Complete TODO</button>
                                                            {% endif %}
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <button type="button" class="btn btn-sm btn-info">Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="calculate(!heat.active, heat.completed)" class="panel panel-warning" style="margin:5px;">
                                        <div class="panel-heading">
                                             <div class="row">
                                                <div class="col-lg-12">
                                                    (( heat.name ))
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form method="post">
                                                        <input type="hidden" name="form_type" value="reopen">
                                                        <input type="hidden" name="round_id" v-bind:value="heat.id">
                                                        <div class="form-group">
                                                            {% if request.user.dancer.owned_studio == competition.host %}
                                                            <button class="btn btn-sm btn-block btn-primary">Reopen TODO</button>
                                                            {% endif %}
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <button type="button" class="btn btn-sm btn-block btn-info">Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <div id="staffZone" data-js-vars="{{ users }}" heat_list-js-vars="{{ heat_list }}" events-js-vars="{{ events }}" heats-js-vars="{{ heats }}" staff-js-vars="{{ staff }}" class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Competition Staff</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="control-label col-sm-3">Add New Staff</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" v-model="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Matching Queries</h3>
                                    <div class='wrapper' style="overflow-x:hidden; height: 200px">
                                        <table id="results" class="table table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:white;">
                                                    <th>Person</th>
                                                    <th>Pin</th>
                                                    <th>Role</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="person in people">
                                                    <td>((person.name))</td>
                                                    <td>((person.judging_pin))</td>
                                                    <td>
                                                        <select v-bind:id="((person.judging_pin))" class="form-control staff_option">
                                                            <option value="0">Logistic / Deck Captain</option>
                                                            <option value="1">Judge</option>
                                                        </select>
                                                    </td>
                                                    <td><button class="btn btn-primary btn-sm" v-on:click="addPerson(person.judging_pin, $event)">Add</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h3>Existing Staff</h3>
                                    <div class='wrapper' style="overflow-x:hidden; height: 200px">
                                        <table id="chosen" class="table table-hover table-striped">
                                            <thead>
                                                <tr style="background-color:white;">
                                                    <th>Person</th>
                                                    <th>Role</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="entry in selected">
                                                    <td>((entry.person.name))</td>
                                                    <td>
                                                       <span v-if="entry.role == 0">Logistic / Deck Captain</span>
                                                       <span v-else>Judge</span>
                                                    </td>
                                                    <td><button class="btn btn-danger btn-sm" v-on:click="removePerson(entry.person.judging_pin)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                          {% if request.user.dancer.owned_studio == competition.host %}
                                        <form method="post" id="staff_form" style="margin-left: 15px;">
                                            {% csrf_token %}
                                            <input type="hidden" name="form_type" value="staff">
                                            <input type="hidden" id="staff_values" name="staff" value="">
                                            <button type="button" onclick="handleSubmission(event)" class="btn btn-primary">Submit Changes</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary" id="eventDetails">
                        <div class="panel-heading">
                            <h4>Round Details</h4>
                        </div>
                        <div class="panel-body">
                            <div class="wrapper" style="overflow-x: hidden; height: 600px">
                                <table id="eventDetailTable" class="table table-striped table-hover">
                                    <thead>
                                        <tr style="background-color:white">
                                            <th style="max-width:50px !important">#</th>
                                            <th>Lead</th>
                                            <th>Follow</th>
                                            <th>Check In</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="couple in round_dancers">
                                            <td style="max-width:50px !important">
                                                ((couple.number))
                                            </td>
                                            <td>
                                                ((couple.lead.name))
                                            </td>
                                            <td>
                                                ((couple.follow.name))
                                            </td>
                                            <td>
                                                <input type="checkbox" v-on:click="checkIn(couple.number)">
                                            </td>
                                            <td><button class="btn btn-sm btn-danger" type="button" v-on:click="dq(couple.number)">DQ</button></td>
                                        </tr>
                                    </tbody>    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var app;
        var eventApp;
        var store;
        $(function() {
            handleSubmission = function(e) {
                e.preventDefault();
                $("#staff_values").val(JSON.stringify(app.selected))
                $("#staff_form").submit();
            }
            $("#results").floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            });
            $("#chosen").floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            });
            $("#eventDetailTable").floatThead({
                scrollContainer: function($table){
                    return $table.closest('.wrapper');
                }
            })
            Vue.use(Vuex)
            {% if request.user.dancer.owned_studio == competition.host %}
            setTimeout(function() {
                $( "#sortableHeats" ).sortable({
                }).disableSelection();
            }, 500)
            {% endif %}
            store = new Vuex.Store({
                state: {
                    users: [],
                    staff: [],
                    saved_users: [],
                    events: [],
                    heats: [],
                    sorted: [],
                    url: "{% url 'competition:manage' competition=competition.id %}",
                },
                mutations: {
                    users (state, data) {
                        state.users = data;
                    },
                    staff (state, data) {
                        state.staff = data;
                    },
                    heats (state, data) {
                        state.heats = data;
                    },
                    events (state, data) {
                        state.events = data;
                    },
                    saved (state, data) {
                        state.saved_users = data;
                    },
                    sorted (state, data) {
                        state.stored = data;
                    }
                },
                actions: {
                    reorder (context) {
                        var sorted = context.state.users;
                        sorted.sort(function(a,b) {
                            if (a.name < b.name) return 1;
                            else if (a.name > b.name) return -1;
                            return 0;
                        })
                        context.commit("users", sorted);
                    }
                },
            });
            // heat detail app
            eventDetails = new Vue({
                el: "#eventDetails",
                store: store,
                delimiters: ["((","))"],
                data: {
                    round_dancers: [],
                    heat: {},
                },
                methods: {
                    checkIn: function(id) {
                        console.log(id);
                    },
                    dq: function(id) {
                        console.log(id)
                    }
                },
                    
            })
            // heats app
            eventApp = new Vue({
                el: "#heatZone",
                store: store,
                delimiters: ["((","))"],
                data: {
                    activeClass: 'panel-primary',
                    completedClass: 'panel-warning',
                    inactiveClass: 'panel-default',
                    heat_list: ''
                },
                mounted: function() {
                    var eventsList = $("#staffZone").attr("events-js-vars")
                    var heats = $("#staffZone").attr("heats-js-vars")
                    var heat_list = $("#staffZone").attr("heat_list-js-vars")
                    this.heat_list = heat_list
                    heats = processJS(heats)
                    for (var x = 0; x < heats.length; x++) {
                        var heat = heats[x];
                        if (heat.active == "true") {
                            heat.active = true;
                        }
                        else {
                            heat.active = false;
                        }
                        if (heat.completed == "true") {
                            heat.completed = true;
                        }
                        else {
                            heat.completed = false;
                        }
                    }
                    store.commit("events", processJS(eventsList));
                    store.commit("heats", heats)
                    {% if request.user.dancer.owned_studio == competition.host %}
                    {% else %}
                        setTimeout((function worker() {
                            var prompt = false
                             // generates hash of current state to check versus server
                            hl = heat_list
                            if (typeof hl == "undefined") {
                                hl = eventApp.heat_list
                                console.log("undefined finally")
                            }
                            ordered_array = JSON.parse(heat_list)
                            var ordered_heats = []
                            for (var x = 0; x < ordered_array.length; x++) {
                                round = store.state.heats.find(function(heat) {
                                    return heat.id == ordered_array[x]
                                })
                                ordered_heats.push(round)
                            }
                            var encoded_heats = []
                            for (var x = 0; x < ordered_heats.length; x++) {
                                couples = []
                                var heat = ordered_heats[x];
                                for (var y = 0; y < heat.dancers.length; y++) {
                                    dancer = heat.dancers[y]
                                    couples.push(dancer.number)
                                }
                                encoded_heats.push({
                                    id: heat.id,
                                    dancers: couples
                                })
                            }
                            encoded_heats = JSON.stringify(encoded_heats)
                            status = encoded_heats.replace(/\s/g,'')
                            var hash = $.sha256(status);
                            $.post("{% url 'competition:manage' competition=competition.id %}", {
                                form_type: "checkin",
                                csrfmiddlewaretoken: "{{csrf_token}}",
                                hash: hash
                            }, function(response, status, xhr) {
                                if (xhr.status == 200) {
                                    console.log("No refresh needed")
                                }
                                else {
                                    prompt = true
                                    $.alert({
                                        title: 'Heads up!',
                                        closeIcon: true, 
                                        content: "The event organizer has updated the event timetable. The app will now reload.",
                                        type: 'blue',
                                        typeAnimated: true,
                                        autoClose:'close|5000',
                                        buttons: {
                                            close: {
                                                text: 'Close',
                                                btnClass: 'btn-blue',
                                                action: function () {
                                                    window.location.reload()
                                                },
                                            }
                                        }
                                    });
                                    console.log("Refresh needed")
                                }
                            }).always(function(data) {
                                if (!prompt)
                                    setTimeout(worker, 5000);
                            })
                        })(),1000)
                        
                    {% endif%}
                },
                computed: {
                    events: function() {
                        return store.state.events;
                    },
                    heats: function() {
                        return store.state.heats;
                    },
                    url: function() {
                        return store.state.url;
                    }
                },
                methods: {
                    onUpdate: function (event) {
                        var array = store.state.heats;
                        array.splice(event.newIndex, 0, array.splice(event.oldIndex, 1)[0])
                        store.commit("heats", array)
                    },
                    calculate: function(a, b) {
                        return a && b;
                    },
                    select: function(id) {
                        heat = store.state.heats.filter(function(heat) {
                            return heat.id == id
                        })[0];
                        eventDetails.heat = heat;
                        eventDetails.round_dancers = heat.dancers;
                    },
                    publish: function() {
                        $.post("{% url 'competition:manage' competition=competition.id %}", {
                            form_type: "order",
                            csrfmiddlewaretoken: "{{csrf_token}}",
                            heatOrder: $("#sortableHeats").sortable("toArray")
                        }, function(response) {
                            console.log(response)
                            showSuccesMessage("Event timetable published.")
                        })
                    },
                    checkData: function() {
                    }
                }
            })
            // staff app
            app = new Vue({
                el: "#staffZone",
                store: store,
                delimiters: ["((","))"],
                data: {
                    text: "",
                    selected: [],
                },
                mounted: function() {
                    var data =  $("#staffZone").attr("data-js-vars")
                    var staff = $("#staffZone").attr("staff-js-vars")
                   
                    store.commit("users", processJS(data));
                    store.commit("saved", processJS(data));
                    store.dispatch("reorder");
                    this.selected = processJS(staff);
                },
                computed: {
                    users: function() {
                        return store.state.users;
                    },
                    staff: function() {
                        return store.state.staff;
                    },
                    people: function() {
                        if (this.text != "") {
                            var search = this.text
                            var data = store.state.users;
                            var filtered = data.filter(function(user) {
                                return user.name.indexOf(search) > -1
                            })
                            return filtered;
                        }
                        else {
                            return []
                        }
                    }
                },
                methods: {
                    addPerson: function(id, $event) {
                        var location;
                        var filtered = store.state.users.filter(function(user, index) {
                            if (user.judging_pin == id) {
                                location = index;
                            }
                            return user.judging_pin == id;
                        })
                        var array = store.state.users;
                        array.splice(location, 1)
                        store.commit("users", array)
                        var user = filtered[0];
                        var value = $("#" + user.judging_pin).val()
                        app.selected.push({person:user, role:value});   
                    },
                    removePerson: function(id) {
                        $.confirm({
                            title: 'Danger',
                            closeIcon: true, 
                            content: "Are you sure you want to do this? It will cause the staff member to lose access to the management system.",
                            type: 'red',
                            typeAnimated: true,
                            backgroundDismiss: true,
                            buttons: {
                                confirm: {
                                    text: 'Confirm',
                                    btnClass: 'btn-red',
                                    action: function() {
                                        var location= app.selected.findIndex(function(entry) {
                                            return entry.person.judging_pin == id;
                                        })
                                        var removed = app.selected.splice(location, 1);
                                        removed = removed[0];
                                        var array = store.state.users;
                                        array.push(removed.person);
                                        store.commit("users", array);
                                        store.dispatch("reorder");
                                    }
                                },
                                close: {
                                    text: 'Close',
                                    action: function(){
                                    }
                                }
                            }
                        });
                    },
                }
            })
        })
    </script>
{% endblock %}

